body {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
}

location {
    font-weight: normal;
    font-style: italic;
}

#main-location {
    float: right;
    font-size: initial;
}

time {
    float: right;
    font-size: inherit;
    font-weight: bold;
}

.info {
    display: block;
    text-align: center;
}

.info a {
    vertical-align: middle;
}

.info a img {
    width: 16px;
}